*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}




#landingSection{
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    padding: 4%;
    background-color:#152238;
}

.landingSectionContent{
    flex-basis: 32%;
    padding: 1%;
    color: #ffffff;
}

.landingSectionLeft{
    padding: 0% 6% 0% 4%;
    transform: scale(1.2);
}

.landingSectionLeftText{
    margin: 56% 0% 0% 0%;
}

.landingSectionLeft .landingSectionButton{
    margin: 22% 0% 0% 0%;
}

.landingSectionLeft .landingSectionButton button{
    padding: 2% 8%;
    border: 2px solid #cd9703;
    border-radius: 4px;
    background-color: #cd9703;
    color: #152238;
    font-weight: bolder;
    transition-duration: .2s;
    cursor: pointer;
}

.landingSectionButton button:hover{
    background-color: transparent;
    color: #cd9703;
    transition-duration: .2s;
    transform: scale(1.01);
}


.landingSectionMiddle{
    height: 700px;
    margin: 0% 0% 0% 0%;
}


.landingMiddleImage{
    height: 600px;
    width: 100%;
    border: 1px solid #cd9703;
    /* background-image: url('../images/frontImage.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.landingSectionRight{
    padding: 2% 2% 2% 8%;
}

.landingSectionRight{
    margin: 8% 0% 0% 0%;
}


.landingSectionRightContent i{
    color: #cd9703;
    transform: scale(1.2);
    margin: 0% 1% 0% 0%;
}

.landingSectionRightContent .fa-phone{
    transform: rotateY(180deg);
}